{%extends 'base.html'%}
{%block content%}
    <div class='login'>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.email }}
            {{ form.password }}
            {% if form.errors %}
                <div class="error-message">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            {{ error }}
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            <button type="submit">Załoguj</button>
            <h2>Nie masz konta <a href="{% url 'registration' %}">Zarejestruj się</a> </h2>
            <h2> <a href="{% url 'reset_password' %}">Nie pamiętasz hasła?</a> </h2>
        </form>
    </div>
    {% endblock %}