{% extends 'base.html' %}

{%block content%}

<div class='login'>
    <form action="" method="post">
        {% csrf_token %}
            <div>
                <label>Podaj nowe hasło</label>
                <br>
                {{form.password}}
            </div>
            <div>
                <label>Powtórz hasło</label>
                <br>
                {{form.password_confirmation}}
            </div>
            <br>
            <button type="submit">Zmień hasło</button>
    
    </form>

    <div class="error-message">

        {% if form.errors %}
                    <span class="error-icon">&#10071;</span>
       <p class="error">Podane hasła różnią się </p>
   {% endif %}

   {% for field in form %}
       {% for error in field.errors %}
           <p class="error">{{ error }}</p>
       {% endfor %}
   {% endfor %}

   </div>

</div>
{% endblock%}