{% extends "base.html" %}
{% block content %}

<div class='user_update'>
    <form action='' method='post' enctype='multipart/form-data'>
        {% csrf_token %}

        <label>Username:</label>
        {{form.username}}  
        <label>Imię:</label>
        {{form.first_name}} 
        <label>Nazwiśko:</label>
        {{form.last_name}} 
        <label>Email:</label>
        {{form.email}}   
        <label>Numer telefonu:</label>
        {{form.number_phone}} 
        <label>Data urodzenia:</label>
        {{form.date_of_birth}}
        <label>O sobię:</label>
        {{form.description}}   
        <br>  
        <label>Dodaj zdjęcie:</label>
        {{form.profile_picture}}   

        <button type='submit'>Zaktualizuj dane</button>
    </form>
    {% if messages %}
        <ul class="error-message"">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endblock %}
