{% extends "base.html" %}

{% block content %}
<div class='user-info'>
    <label>Foto:</label>
    {% if user.profile_picture %}
    <img src="{{ user.profile_picture.url }}" alt="User Avatar" width="50" height="50">
{% endif %}
    <br> 
    <label>Username:</label>
        {{form.username}}  
        <br> 
    <label>Imię:</label>
        {{form.first_name}} 
        <br> 
    <label>Nazwiśko:</label>
        {{form.last_name}} 
        <br>   
    <label>Email:</label>
        {{form.email}}   
        <br> 
    <label>Numer telefonu:</label>
        {{form.number_phone}} 
         <br> 
    <label>Data urodzenia:</label>
        {{form.date_of_birth}}  
        <br>  
    <label>O sobię:</label>
        {{form.description}}   
        <br>  

<h2><a href ='{% url 'user_update'%}'>Zmień dane</a></h2>
</div>
{% endblock  %}