{% extends "base.html" %}
{%block content%}
<form action='' method = 'post'>
    {% csrf_token %}
    <div class=''>
        <label>Username:</label>
            {{form.username}}  
            <br> 
        <label>Imię:</label>
            {{form.first_name}} 
            <br>   
        <label>Nazwiśko:</label>
            {{form.last_name}} 
            <br>   
        <label>Email:</label>
            {{form.email}}   
            <br> 
        <label>Numer telefonu:</label>
            {{form.number_phone}} 
            <br> 
        <label>Data urodzenia:</label>
            {{form.date_of_birth}}  
            <br>  
        <label>O sobię:</label>
            {{form.description}}   
            <br>  
        <label>Dodaj zdięcie:</label>
            {{form.profile_picture}}   
    </div>
    <button type='submit'>Zaktualizuj dane</button>
</form>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}