
body, h1, h2, h3, p, a {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

.header-container {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 36px;
}

.logo a:hover {
  color: #ccc; 
}


.login-container {
  text-align: right;
  margin-bottom: -5px;
  margin-top: -35px;
}

.login-container img {
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 30px; 
  vertical-align: middle; 
}

.login-container a {
  text-decoration: none;
  color: #fff;
  margin-top: 0px;
  margin-left: 10px;
  display: inline; /
}


.login-container a:hover {
  color: #ccc;
}

/* .logout-link {
  display: block;
  margin-top: 5px;
  text-align: right;
} */


.content-container {
  padding: 20px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* Strona logowania */
.login {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 210px;
}

button:hover {
  background-color: #555;
}

.error-message {
  color: #ff0000;
  margin-bottom: 15px;
}

h2 {
  margin-top: 15px;
  font-size: 14px;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #555;
}

h2 {
  text-align: center;
}

h2 a {
  color: #0481ffef; 
}

h2 a:hover {
  color: #0056b3; 
}




.user_update label {
  display: block;
  margin-bottom: 5px;
}

.user_update input, .user_update textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.user_update button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.user_update button:hover {
  background-color: #555;
}

.error-message {
  color: #ff0000;
  margin-top: 15px;
  padding: 0;
  list-style-type: none;
}

.error-message li {
  margin-bottom: 5px;
}

.error-message.error {
  color: #ff0000;
}

.error-message.success {
  color: #008000;
}

.user-info {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}

.user-info label {
  margin-bottom: 5px;
}

.user-info label, .user-info span {
  display: inline-block;
  vertical-align: top;
}

.user-info img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-info h2 a {
  margin-top: 15px;
  text-decoration: none;
  color: #0481ffef;
}

.user-info h2 a:hover {
  color: #0056b3;
}

.staff_link {
  margin-top: 20px;
}

.staff_link a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  margin-right: 10px; 
  padding: 10px;
  background-color: #ccc; 
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 16px;
}

.staff_link a:hover {
  background-color: #555; 
  color: #fff; 
}

.button-delete {
  color: white;
  background-color: red;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
}

.button-delete:hover {
  background-color: darkred;
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 20px;
}

.category-item {
  text-align: center;
  margin: 10px;
}

.category img {
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 50px;
  max-height: 50px;
}

.category a {
  text-decoration: none;
  color: #333;
  display: block;
}

.category a:hover {
  color: #555;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 800px;
  margin: 0 auto;
}

.product img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product div {
  flex-basis: calc(33.33% - 10px);
}

.product h2 {
  margin: 0;
  color: #333;
}

.product s {
  color: #999;
}

.product p {
  margin: 0;
}

.product p.stock {
  color: #ff0000;
}

.product p.discount {
  color: #555; /* Kolor szary */
  font-style: italic; /* Pochyły styl tekstu */
  margin-top: 5px; /* Odstęp od ceny */
}

.product_info {
  max-width: 800px;
  margin: 0 auto;
}

.product_info ul {
  list-style-type: none;
  padding: 0;
}

.product_item {
  width: 100%;
  display: flex;
}

.left_column {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

.right_column {
  flex-basis: 30%; 
}

.product_details img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product_details h2 {
  margin: 10px 0;
  color: #333;
}

.product_details s {
  color: #999;
}

.product_details p {
  margin: 0;
}

.product_details p.stock {
  color: #ff0000;
}

.product_details p.discount {
  color: #555;
  font-style: italic;
  margin-top: 5px;
}

.reviews {
  padding: 10px;
}

.review {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.add_to_cart {
  text-align: left; 
}

.add_to_cart img {
  max-width: 100px;
  margin-right: 10px;
}

form {
  display: inline;
  vertical-align: top;
  text-align: right; 
}

.add_to_cart button {
  float: right; 
}

.cart {
  display: block;
  justify-content: left;
}


.left_column {
  margin-bottom: 20px; 
}

.right_column {
  margin-bottom: 20px; 
  justify-content: right;
}

.cart img {
  max-width: 100px;
}

.cart p {
  margin: 5px 0;
}

.cart a {
  color: #ff0000;
}

.cart a:hover {
  text-decoration: underline;
}
