{% load static %}
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Shop</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class='header-container'>
        <div class='logo'>
            <h1><a href='/'>Shop</a></h1>
        </div>
        <div class='login-container'>
            {% if user.is_authenticated %}
                {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}" alt="User Avatar" width="50" height="50">
                {% endif %}
                <a href="{% url 'user_info' %}">Witaj, {{ user.username }}</a>
                <br> <a href="{% url 'logout' %}">Wyloguj</a>
            {% else %}
                <a href="{% url 'login' %}">Zaloguj</a>
            {% endif %}
        </div>
    </header>

    <div class='content-container'>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
