{% load static %}
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Shop</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class='header-container'>
        <div class='logo'>
            <h1><a href='/'>Shop</a></h1>
        </div>
        <div class='login-container'>
            {% if user.is_authenticated %}
                {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}" alt="User Avatar" width="50" height="50">
                {% endif %}
                <a href="{% url 'user_info' %}">Witaj, {{ user.username }}</a>
                <br> <a href="{% url 'logout' %}">Wyloguj</a>
            {% else %}
                <a href="{% url 'login' %}">Zaloguj</a>
            {% endif %}
        </div>
    </header>
    {% if user.is_staff %}
        <div class="staff_link">
            <a href="{% url 'category_all' %}">Dostępne kategorie</a>
            <a href="{% url 'category_create' %}">Dodaj nową kategorię</a>
            <a href="{% url 'brand_all' %}">Dostępne marki</a>
            <a href="{% url 'brand_create' %}">Dodaj markę</a>
            <a href="{% url 'matches_with_all' %}">Lista pasuje do...</a>
            <a href="{% url 'matches_with_create' %}">Dodaj pasuje do...</a>
            <a href="{% url 'products_all' %}">Wszystkie produkty</a>
            <a href="{% url 'product_create' %}">Dodaj produkt</a>
        </div>
    {% endif %}

    <div class='content-container'>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
