{% extends 'base.html' %}

{% block content %}
  <h1>Koszyk</h1>
  <h3>Twoje zamówienie</h3>
  <div class='cart'>
    {% if cart_items %}
      <div class='left_column'>
        {% for item in cart_items %}
          <img src="{{ item.product.images.url }}" alt="{{ item.product.images }}">
        {% endfor %}
      </div>
      <div class='right_column'>
          {% for item in cart_items %}
            <div>
              <p>{{ item.product.name }}</p>
              <p>Ilość: {{ item.quantity }}</p>
              {% if item.product.discount_price %}
                <p>Cena: {{ item.product.discount_price }}</p>
              {% else %}
                <p>Cena: {{ item.product.price }}</p>
              {% endif %}
              <a href="{% url 'cart_delete' pk=item.pk %}">Usuń z koszyka</a>
            </div>
          {% endfor %}
      </div>
      <div class='all_price'>
        <p>Łączna ilość: {{ total_quantity }}</p>
        <p>Łączna cena: {{ total_price }}</p>
        <button type='submit'>
          {% for item in cart_items %}
        <a href="{% url 'delivery' order_item_id=item.pk%}">Dalej</a>
        {% endfor %}
        </button>
        
      </div>
    {% else %}
      <p>Koszyk pusty</p>
    {% endif %}
  </div>
{% endblock %}
