{% extends 'base.html' %}
{% block content %}

<div class='delivery_info'>
    <form action='' method='post'>
        {% csrf_token %}
        <label>Imię i Nazwisko</label>
        {{ form.recipient_name }}
        <label>Wojewódstwo</label>
        {{ form.state }}
        <label>Miasto</label>
        {{ form.city }}
        <label>Ulica</label>
        {{ form.street }}
        <label>Numer domu</label>
        {{ form.house_number }}
        <label>Numer mieszkania</label>
        {{ form.apartment_number }}
        <label>Kod pocztowy</label>
        {{ form.zip_code }}
        <label>Numer telefonu</label>
        {{ form.phone_number }}
        <label>Sposób dostawy</label>
        {{ form.shipping_method }}
        <label>Sposób oplaty</label>
        {{ form.method_pay }}
        <div class="buttons">
            <button type='submit'>Kupić</button>
            <button type='button' onclick="location.href='{% url 'main' %}'">Wróć do sklepu</button>
        </div>
    </form>
</div>

{% endblock %}