{% extends 'base.html' %}
{% block content %}

<div class='product_info'>
    <ul>
        {% for item in products %}
        <li>
            <div class="product_item">
                <div class="left_column">
                    <img src="{{ item.images.url }}" alt="{{ item.images }}">
                    <div class="product_details">
                        <h2>{{ item.name }}</h2>
                        {% if item.stock_quantity == 0 %}
                        <p class="stock">Nie ma na stanie</p>
                        {% else %}
                        {% if item.discount_price %}
                        <p>Cena: <s>{{ item.price }}</s> <span class="discount">{{ item.discount_price }}</span></p>
                        {% else %}
                        <p>Cena: {{ item.price }}</p>
                        {% endif %}
                        {% endif %}
                        <p>Opis: {{ item.description }}</p>
                        <p>Kategoria: {{ item.category }}</p>
                        <p>Producent: {{ item.brand }}</p>
                        {% for match in item.matches_with.all %}
                        <p>Pasuje do: {{ match.name_product }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="right_column">
                    <div class="reviews">
                        <h3>Recenzje:</h3>
                        {% for review in item.reviews.all %}
                            <div class="review">
                                <p>Recenzja od {{ review.user.username }} - Ocena: {{ review.rating }}</p>
                                <p>Data recenzji: {{ review.created_at }}</p>
                                <p>Treść recenzji: {{ review.text }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class='new_review'>
                        {% for product_item in products %}
                        <a href="{% url 'product_review' category=product_item.category pk=product_item.pk %}">
                            <button type='submit'>
                                <h3>Dodaj opinię</h3>
                            </button>
                        </a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div> 

{% endblock %}
