{% extends 'base.html' %}
{% block content %}

<div class='product'>
    {% for item in products %}
    <div>
        <img src="{{ item.images.url }}" alt="{{ item.images }}">
        <h2><a href={% url 'product_info' category=item.category.name_category pk=item.pk %}>{{ item.name }}</a></h2>
        {% if item.stock_quantity == 0 %}
        <p class="stock">Nie ma na stanie</p>
        {% else %}
        {% if item.discount_price %}
        <p>Cena: <s>{{ item.price }}</s> <span class="discount">{{ item.discount_price }}</span></p>
        {% else %}
        <p>Cena: {{ item.price }}</p>
        {% endif %}
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}